@import 'theme.css';
:root {
    --body-bg-color: #111 !important;
    --text-color: #171a1f !important;
    --code-bg-color: #222 !important;
}

/* Dark mode styles */
.wy-side-nav-search,  body {
    background-color: var(--body-bg-color) ;
    color: var(--text-color) ;
}

pre, code {
    background-color: var(--code-bg-color) ;
    color: var(--text-color) ;
}
